body{
    background: linear-gradient(55deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 60%, #008F95 calc(60% + 1px), #008F95 70%, #14FFEC calc(70% + 1px), #14FFEC 100%);
}

.navbar{
    margin-right: 30%;
}

.main-content{
    background-color: #fff;
    border: solid 1px #000000;
}